/* אלמנט עוטף */
/* ריווח בסיסי כדי שהתוכן לא ייצמד לקצוות */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* קביעת רוחב לשדות הטופס (אחרת הם תופסים את כל הרוחב) */
.body-content input,
.body-content select,
.body-content textarea {
    max-width: 280px;
}

/* התאמה למסכים בגודל טאבלט ומעלה */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
